html,
body {
    font-family: 'Pathway Gothic One', sans-serif;
    height: 100%;
    margin: 0;
    background: black;
    color: #E9E7E6;
    min-width: 768px;
    max-width: 1024px;
    margin: 0 auto;
}

/* .navbar { */
/*   margin-bottom: 10px; */
/*   border-radius: 0px; */
/* } */
/* .navbar-brand { */
/*   float: none; */
/* } */
/* .navbar-nav .nav-item { */
/*   float: none; */
/* } */
/* .navbar-divider, */
/* .navbar-nav .nav-item+.nav-item, */
/* .navbar-nav .nav-link + .nav-link { */
/*   margin-left: 0; */
/* } */
/* @media (min-width: 34em) { */
/*   .navbar-brand { */
/*     float: left; */
/*   } */
/*   .navbar-nav .nav-item { */
/*     float: left; */
/*   } */
/*   .navbar-divider, */
/*   .navbar-nav .nav-item+.nav-item, */
/*   .navbar-nav .nav-link + .nav-link { */
/*     margin-left: 1rem; */
/*   } */
/* } */

/* @-moz-keyframes three-quarters-loader { */
/*     0% { */
/*         -moz-transform: rotate(0deg); */
/*         transform: rotate(0deg); */
/*     } */
/*     100% { */
/*         -moz-transform: rotate(340deg); */
/*         transform: rotate(340deg); */
/*     } */
/* } */
/* @-webkit-keyframes three-quarters-loader { */
/*     0% { */
/*         -webkit-transform: rotate(0deg); */
/*         transform: rotate(0deg); */
/*     } */
/*     100% { */
/*         -webkit-transform: rotate(340deg); */
/*         transform: rotate(340deg); */
/*     } */
/* } */
/* @keyframes three-quarters-loader { */
/*     0% { */
/*         -moz-transform: rotate(0deg); */
/*         -ms-transform: rotate(0deg); */
/*         -webkit-transform: rotate(0deg); */
/*         transform: rotate(0deg); */
/*     } */
/*     100% { */
/*         -moz-transform: rotate(340deg); */
/*         -ms-transform: rotate(340deg); */
/*         -webkit-transform: rotate(340deg); */
/*         transform: rotate(340deg); */
/*     } */
/* } */

div.container {
    position: relative;
}

div.chart {
    position: relative;
    top: 240px;
    margin-left: 100px;
    width: 770px;
}

div.rank-desc {
    position: relative;
    float: left;
    padding-bottom: 16px;
    padding-top: 12px;
    top: 236px;
    text-align:right;
    width: 80px;
    padding-right: 16px;
    background: black;
    z-index: 40000;
}

div.rank-desc-item {
    height: 28px;
    line-height: 28px;
    font-size: 24px;
}

div.canvas-cover {
    position: relative;
    height: 160px;
    width: 1024px;
    left: -100px;
    top: -10px;
    /* width: 100%; */
    background: black;
    border: 0px solid #999;
    /* display: none; */
    z-index: 1000;
}

div.rank {
    position: relative;
    width: 100%;
    height: 320px;
    top: 10px;
    border: 0px solid #999;
    background: rgba(100,100,0,0.1);
    z-index: 2;
}

div.rect {
    position: absolute;
    height: 24px;
    text-align: left;
    line-height: 24px;
    z-index: 4;
    /* top: 400px; */

    /* transition: top .5s ease-out, width .5s linear; */
    /* -moz-transition: top .5s ease-out, width .5s linear; /\* Firefox 4 *\/ */
    /* -webkit-transition: top .5s ease-out, width .5s linear; /\* Safari 和 Chrome *\/ */
    /* -o-transition: top .5s ease-out, width .5s linear; /\* Opera *\/ */

}

span.in-bar, span.out-bar {
    line-height: 30px;
}

span.in-bar {
    float: right;
}

span.code {
    display: inline-block;
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
    top: -3px;
    font-size: 24px;
}

span.name {
    display: inline-block;
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
    top: -4px;
    font-size: 22px;
}

span.val-chn {
    display: inline-block;
    position: relative;
    top: -1px;
    font-size: 22px;
}

span.out-bar {
    display: block;
    position: relative;
    left: 100%;
    top: -3px;
    padding-left: 10px;
    font-size: 24px;
    max-width: 100px;
    white-space: nowrap;
}

span.val {
    display: inline-block;
    position: relative;
    left: 100%;
    top: -3px;
    padding-left: 10px;
    font-size: 24px;
}

div.top-desc {
    position: absolute;
    top: 24px;
    left: 60px;
    font-size: 32px;
}

div.title {
    position: absolute;
    top: 24px;
    left: 300px;
    font-size: 36px;
    color: papayawhip;
}

div.date {
    position: absolute;
    top: 140px;
    font-size: 28px;
    color: powderblue;
}

/* img.logo { */
/*     display: inline-block; */
/*     position: relative; */
/*     top: -1.5px; */
/*     width: 26px; */
/*     height: 26px; */
/*     line-height: 26px; */
/*     background: white; */
/* } */

div.progress-bar {
    position: absolute;
    height: 12px;
    background: #E9E7E6;
    top: 180px;
    left: 220px;
    border: 1px solid #E9E7E6;
    cursor: pointer;
}

@keyframes ants {
    to {
        background-position: 100% 100%
    }
}

div.progress-past {
    /* background: #1375b0; */
    background: linear-gradient(45deg,
                                #58b 25%, #1375B0 0, #1375B0 50%,
                                #58b 0, #58b 75%, #1375B0 0);
    height: 12px;
    background-size: 25px 25px;
}


div.data-type-btn {
    position: absolute;
    top: 160px;
    /* right: 680px; */
    left: -80px;
    width: 70px;
    border: 1px solid black;
    background: #666;
    font-size: 16px;
    color: #000;
    cursor: pointer;
    height: 16px;
    line-height: 16px;
}

div.axes-btn {
    position: absolute;
    top: 180px;
    /* right: 600px; */
    left: -80px;
    width: 54px;
    border: 1px solid black;
    background: #666;
    font-size: 16px;
    color: #000;
    cursor: pointer;
    height: 16px;
    line-height: 16px;
}

div.timer-btn {
    position: absolute;
    top: 200px;
    /* right: 496px; */
    left: -80px;
    width: 54px;
    border: 1px solid black;
    /* border: 1px solid #E9E7E6; */
    background: #666;
    /* background: #E9E7E6; */
    font-size: 16px;
    color: #000;
    cursor: pointer;
    height: 16px;
    line-height: 16px;
}



div.v-axes {
}

div.v-axis {
    position: absolute;
    top: 240px;
    width: 2px;
    background: #777;
    height: 320px;
    z-index: 1;
}

div.v-axis-cover {

}

div.v-axis-label {
    position: relative;
    min-width: 56px;
    color: #777;
    top: -20px;
    left: -4px;
}

div.v-line {
    position: absolute;
    width: 1px;
    border-left: 2px dashed #777; /* rgba(202, 133, 217, 0.7); */
    height: 320px;
    top: 240px;
    left: 331px;
    z-index: 1; /* 100 */
}


div.secu-img {
    position: absolute;
    left: 160px;
    top: 8px;
}

img.secu-logo {
    height: 64px;
    background: #FFF;
    display: none;
}

div.joudou-logo {
    position: absolute;
    left: 840px;
    top: 250px;
    z-index: 10000;
}

img.joudou-logo {
    height: 120px;
}
