html,
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
}
.navbar {
  margin-bottom: 10px;
  border-radius: 0px;
}
.navbar-brand {
  float: none;
}
.navbar-nav .nav-item {
  float: none;
}
.navbar-divider,
.navbar-nav .nav-item+.nav-item,
.navbar-nav .nav-link + .nav-link {
  margin-left: 0;
}
@media (min-width: 34em) {
  .navbar-brand {
    float: left;
  }
  .navbar-nav .nav-item {
    float: left;
  }
  .navbar-divider,
  .navbar-nav .nav-item+.nav-item,
  .navbar-nav .nav-link + .nav-link {
    margin-left: 1rem;
  }
}

@-moz-keyframes three-quarters-loader {
    0% {
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-webkit-keyframes three-quarters-loader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes three-quarters-loader {
    0% {
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

div.canvas-rect {
    position: absolute;
    height: 18px;
    background: green;
    color: white;
    text-align: right;
    line-height: 18px;
    z-index: -1;

    transition: all .7s ease-in;
    -moz-transition: all .7s ease-in; /* Firefox 4 */
    -webkit-transition: all .7s ease-in; /* Safari 和 Chrome */
    -o-transition: all .7s ease-in; /* Opera */
}

div.canvas-inner {
    position: relative;
    width: 240px;
    height: 80px;
    border: 1px solid #999;
    background: rgba(0,0,0,0.1);
    z-index: 0;
}

div.canvas-cover {
    position: relative;
    height: 180px;
    background: white;
    border: 0px solid #999;
    /* display: none; */
}

div.pe-rank {
    position: relative;
    width: 100%;
    height: 300px;
    border: 1px solid #999;
    background: rgba(100,100,0,0.1);
    z-index: 0;
}

div.pe-rect {
    position: absolute;
    height: 28px;
    color: white;
    text-align: left;
    line-height: 28px;
    z-index: -1;

    transition: all 1s ease-in;
    -moz-transition: all 1s ease-in; /* Firefox 4 */
    -webkit-transition: all 1s ease-in; /* Safari 和 Chrome */
    -o-transition: all 1s ease-in; /* Opera */
}

div.pe-date {
    color: black;
    position: absolute;
    top: 30px;
    left: -120px;
    z-index: 10000;
}

img.logo {
    width: 26px;
    height: 26px;
    line-height: 26px;
    background: white;
}

span.in-bar {
    float: right;
}

span.logo-text {
    margin-left: 5px;
}
